In [1]:
from Core.DTO import *
from Core.Relations import *
import pandas as pd
import numpy as np

In [2]:
# üîπ Configura√ß√£o do banco (pode ser reutilizada para qualquer ModelDTOo)
db_manager = DatabaseManager('mysql+pymysql://root:000000000@localhost/mydb')
session = db_manager.get_session()

# üîπ Exemplo de uso com dataset
dataset_repo = DatasetRepository(session)
dataset_dto = dataset_repo.get(1)

if dataset_dto:
    print(dataset_dto.targetFeature)
    dataset_dto.data_to_df()


dataset = dataset_dto.dataset

target

In [3]:
from sklearn import datasets
if False:
    
    dataset_iris = datasets.load_iris()
    df = pd.DataFrame(dataset_iris.data, columns=dataset_iris.feature_names)
    df['target'] = dataset_iris.target
    dataset_dto = DatasetDTO(targetFeature='target', df  =df )
    dataset_repo.save(dataset_dto)

In [4]:


model = RandomForestClassifierModel()

task = IrisClassificationTask (dataset = dataset) 
run = Run()
run.execute( task = task,  model = model, parameters= {"n_estimators": 100, "max_depth": 5, "criterion": "gini"})

conversor = ConverterDTO(session=session)
run_dto = conversor.converter_object_to_dto(run)

In [3]:
import re
from datetime import datetime

def remove_parentheses_content(text):
    return re.sub(r'\([^)]*\)', '', text)

df = pd.read_csv('data//SeoulBikeData.csv', encoding='latin1')
df.columns = [remove_parentheses_content(i.lower()).strip().replace(' ','_') for i in df.columns]
df['date'] = df['date'].map(lambda x : datetime.strptime(x,  "%d/%m/%Y"))
df

,date,rented_bike_count,hour,temperature,humidity,wind_speed,visibility,dew_point_temperature,solar_radiation,rainfall,snowfall,seasons,holiday,functioning_day
0,2017-12-01,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
1,2017-12-01,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
2,2017-12-01,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes
3,2017-12-01,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
4,2017-12-01,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-11-30,1003,19,4.2,34,2.6,1894,-10.3,0.0,0.0,0.0,Autumn,No Holiday,Yes
8756,2018-11-30,764,20,3.4,37,2.3,2000,-9.9,0.0,0.0,0.0,Autumn,No Holiday,Yes
8757,2018-11-30,694,21,2.6,39,0.3,1968,-9.9,0.0,0.0,0.0,Autumn,No Holiday,Yes
8758,2018-11-30,712,22,2.1,41,1.0,1859,-9.8,0.0,0.0,0.0,Autumn,No Holiday,Yes
8759,2018-11-30,584,23,1.9,43,1.3,1909,-9.3,0.0,0.0,0.0,Autumn,No Holiday,Yes

In [5]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
import pandas as pd

# Separar features e target
X = df.drop(["rented_bike_count", "date"], axis=1)
y = df["rented_bike_count"].astype(int)

# Colunas categ√≥ricas e num√©ricas
categorical_cols = X.select_dtypes(include=["category", "object"]).columns.tolist()
numeric_cols = X.select_dtypes(include=["number"]).columns.tolist()

# Pr√©-processamento com OneHotEncoder
preprocessor = ColumnTransformer(
    transformers=[
        ("cat", OneHotEncoder(handle_unknown="ignore", sparse_output=False), categorical_cols)
    ],
    remainder="passthrough"
)

# Pipeline com DecisionTreeRegressor
model = Pipeline(steps=[
    ("preprocessor", preprocessor),
    ("regressor", DecisionTreeRegressor(random_state=42))
])

# Split dos dados
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Treinamento
model.fit(X_train, y_train)

# Predi√ß√£o
y_pred = model.predict(X_test)

# Avalia√ß√£o
rmse = mean_squared_error(y_test, y_pred, squared=False)
r2 = r2_score(y_test, y_pred)

print(f"RMSE: {rmse:.2f}")
print(f"R¬≤: {r2:.2f}")

RMSE: 345.05
R¬≤: 0.71

c:\Users\PC\miniconda3\lib\site-packages\sklearn\metrics\_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [6]:
# Recuperar o OneHotEncoder treinado
ohe = model.named_steps["preprocessor"].named_transformers_["cat"]
# Obter nomes das colunas codificadas
ohe_feature_names = ohe.get_feature_names_out(categorical_cols)
# Unir com colunas num√©ricas
feature_names = list(ohe_feature_names) + numeric_cols

# Obter import√¢ncias diretamente do modelo
importances = model.named_steps["regressor"].feature_importances_

# Criar DataFrame com as import√¢ncias
importancias_df = pd.DataFrame({
    "feature": feature_names,
    "importance": importances
}).sort_values(by="importance", ascending=False)

print("\nTop 15 features mais importantes:")
print(importancias_df.head(15))

Top 15 features mais importantes:
                  feature  importance
9             temperature    0.297462
8                    hour    0.283113
10               humidity    0.099838
14        solar_radiation    0.093880
6      functioning_day_No    0.084870
13  dew_point_temperature    0.039355
0          seasons_Autumn    0.025672
12             visibility    0.020564
11             wind_speed    0.017793
15               rainfall    0.017707
3          seasons_Winter    0.008987
7     functioning_day_Yes    0.003540
1          seasons_Spring    0.001876
2          seasons_Summer    0.001812
5      holiday_No Holiday    0.001741